--- 
layout: default
---

<div class="home">
  <h1>Hire me plz, thx.</h1>
  {% include portfolio-card.html title="Objective" decal-img="http://via.placeholder.com/300" content="objective.md" %}
  {% include portfolio-card.html title="Experience" decal-img="http://via.placeholder.com/300" content="experience.md" %}
  {% include portfolio-card.html title="Education" decal-img="http://via.placeholder.com/300" content="education.md" %}
  {% include portfolio-card.html title="Projects" decal-img="http://via.placeholder.com/300" content="projects.md" %}
  {% include portfolio-card.html title="Skills" decal-img="http://via.placeholder.com/300" content="skills.md" %}
</div>