--- 
layout: default
---

<div class="home">
  {% include card.html title="Objective" decal-img="objective.svg" content="objective.md" %}
  {% include card.html title="Experience" decal-img="experience.svg" content="experience.md" %}
  {% include card.html title="Education" decal-img="education.svg" content="education.md" %}
  {% include card.html title="Projects" decal-img="projects.svg" content="projects.md" %}
  {% include card.html title="Skills" decal-img="skills.svg" content="skills.md" %}
</div>  